# Ignore local development files
.git/
*.pyc
__pycache__/
*.log
*.env
*.vscode/
node_modules/

# Ignore static files (you'll use a CDN or external storage)
static/
media/
docs/
# Ignore virtual environment files

# Ignore tests (unless needed in production)
tests/

# Ignore database files (if using SQLite)
db.sqlite3
